.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal {
  z-index: 1050;
}

.task-progress {
  font-size: 0.875rem;
  color: #6c757d;
}
.badge {
  /* font-size: 0.875rem; */
  background-color: blue;
}